body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0%;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    background-color: rgba(8, 8, 8, 0.76);
    padding-bottom: 3%;
    padding-top: 3%;
    margin-bottom: 10px;
    animation: fadeIn 2s;
}

@media (min-width:900px) {
    header {
        padding-bottom: 1%;
        padding-top: 1%;
    }
}

header h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(212, 212, 231), 0 0 5px rgb(222, 222, 235);
    animation: fadeIn 5s;
}


/* Photo container starts from here */
.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0%;
    justify-content: center;
    align-content: center;
    align-items: center;
    animation: fadeIn 5s;
}

.photo {
    width: 90%;
}

@media screen and (min-width: 900px) {
    .photo {
        width: 40%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.text {
    color: rgba(0, 0, 0, 0.438);
    box-sizing: content-box;
    padding: 30px 30px 60px 30px;
    text-align: center;
}

@media (min-width:900px) {
    .text {
        padding: 30px 30% 30px 30%;
    }
}

footer {
    margin-top: 8%;
    background-color: #333;
    overflow: hidden;
    animation: fadeIn 5s;
}

footer a {
    color: white;
    animation: fadeIn 8s;
    margin: 10px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem 1rem 0;
}

.socials li {
    margin: 0 10px;
}

.copyright {
    padding: 20px;
    margin: auto;
    text-align: center;
}

.copyright a {
    text-align: center;
    text-decoration: none;
    color: rgba(240, 248, 255, 0.699);
}

.Github {
    width: 25px;
    animation: fadeIn 2s;
}

.linkedin {
    width: 25px;
    animation: fadeIn 2s;

}

.facebook {
    width: 31px;
    animation: fadeIn 2s;
}

.twitter {
    width: 27px;
    animation: fadeIn 2s;

}

.instagrame {
    width: 45px;
    animation: fadeIn 2s;

}